
pre code {
    background-color: #eee;
    border: 1px solid #000;
    display: block;
    padding: 20px;
}

.header-button {
    background-color:#537391;
    border-color: #537391;
    color: white;
}

.header-img {
    background-image: url(../images/dna.jpg);
    color:white;
    text-align: center;
    padding:100px;
}

.header-plain {
    background-color: #537391;
    color:white;
    text-align: center;
    padding:100px;
}