<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
      <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
      <link
              type="text/css"
              rel="stylesheet"
              href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
      />

      <script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
      <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
      <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
  <!--Navbar-->
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="https://aholdeman.github.io/malab-test/"><strong>Research Computing</strong></a>
          </div>
          <ul class="nav navbar-nav">
              <li class="active"><a href="https://aholdeman.github.io/malab-test/">Home</a></li>
              <li><a class="nav-item" href="https://aholdeman.github.io/malab-test/about/">About</a></li>
              <li class="nav-item dropdown dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="https://aholdeman.github.io/malab-test/tutorials">Tutorials
                      <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="https://aholdeman.github.io/malab-test/tutorials/matlab">MATLAB</a></li>
                  </ul>
          </ul>
      </div>
  </nav>
<div class="container">

  {{ content }}

</div>

  </body>
  <div class="container-fluid footer">
      <p class="text-muted"><a href="https://sc.edu/rci">University of South Carolina Research Computing</a></p>

  </div>
</html>
